.article-list {
	display: grid;
	overflow: auto;
	height: 100%;
}

.article-list-item {
	padding: 10px;
	display: grid;
	grid-auto-flow: dense;
	border-bottom: 1px solid var(--red);
	grid-gap: 10px;
	place-items: start start;
	align-content: start;
	/* grid-template-areas:
		'img title title'
    'img description description'; */
	grid-template-columns: auto 1fr;
}

.article-list-item__img-container {
	display: grid;
	justify-self: center;
	align-self: center;
	grid-row: 1 / span 2;
	grid-column: 1;
}
.article-list-item__img {
	height: 128px;
	/* max-width: 128px; */
	grid-row: 1 / span 2;
	grid-column: 1;
}

.article-list-item__title {
	/* grid-area: title; */
	text-align: left;
}
.article-list-item__description {
	/* grid-area: description; */
	text-align: left;
}
