.header.sm,
.header.md,
.header.l {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--rowHeight, 70px);
	justify-content: center;
	max-height: 400px;
	width: 100%;
	height: min-content;
	box-sizing: border-box;
}
.header.md {
	--rowHeight: 120px;
}
.header.l {
	--rowHeight: 170px;
}
.header__logo {
	align-self: center;
	grid-column: 2 / span 1;
}
.header__logo.sm,
.header__logo.md,
.header__logo.l {
	height: var(--logoHeight, 50px);
	width: 100%;
}
.header__logo.md {
	--logoHeight: 100px;
}
.header__logo.l {
	--logoHeight: 150px;
}
