.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

.App__content {
	position: relative;
	height: calc(100vh - (var(--headerHeight, 113px)));
	flex: 1;
}
